:root {
    --primary-clr: rgba(55,71,104,255);
    --secondary-clr: rgba(243,142,38,255);
    --light-grey-clr: rgba(189,191,190,255);
    --blue-to-orange-gradient: linear-gradient(to right rgba(55,71,104,255) 50%, rgba(243,142,38,255) 50%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 100px;
    padding: 0;
    margin: 0;
}


.header {
    padding: 0 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}



nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav li {
    padding:5px;
    list-style: none;
}

nav  li  a {
    text-decoration: none;
    color: var(--primary-clr)
}

.under-construction {
    padding: 40px;
    background-color: rgb(86, 82, 82);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
}

.constuction-text {
    width: 80%;
}

.constuction-text a {
    color: white;
    font-weight: 600;
}

.under-construction img {
    width: 4%;
}

.our-mission {
    display: flex;
    background-color: var(--primary-clr);
    padding: 50px;
    color: whitesmoke;
    gap: 50px;
    justify-content: space-around;
}

.info {
    width: 40%;
}

.info > h1 {
    margin-bottom: 15px;
    font-size: 2.3em;
}

.info > p {
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 25px;
}

.estimate-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    width: 50%;
    background-color: var(--secondary-clr);
    box-shadow: -5px -5px 5px rgba(0,0,0,0.5);
    color: var(--primary-clr);
}

.estimate-container h2 {
    text-align: center;
}

form div {
    padding: 10px;
}

form  label {
    color: var(--primary-clr);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

form input, textarea{
    padding: 4px;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

textarea {
    min-height: 50px;
    resize: none;
}

form button {
    width: 100%;
    padding: 6px;
    font-size: 1.1em;
    font-weight: 600;
    background-color: var(--primary-clr);
    color: white;
    /* box-shadow: -2px -2px rgba(0,0,0,0.5); */
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    color: var(--primary-clr);
}

.about-us-head {
    font-size: 2.0em;
    font-weight: bold;
    /* text-decoration: underline; */
    text-align: center;

}

.about-us-info  {
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    gap: 50px;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.about-us-info p {
    margin-bottom: 10px;
}

.about-us-img {
    width: 500px;
}

.service-container {
    padding: 50px;
    background-color: var(--primary-clr);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.services-head {
    color: white;
    font-size: 2em;
    text-align: center;
}

.services-offered {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.drywall, .home-renovations {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    font-size: 1.3em
}

.drywall-head {
    font-size: 1.5em;
}

.service-list {
    display: flex;
    justify-content: space-between;
}

.drywall-img {
    height: 300px;
    width: 600px;
}

.service-list li {
    padding: 5px;
    margin-left: 45px;
}

.service-container p {
    font-size: 1.3em;
    color: white;
}

.crew-container {
    padding: 50px;
    color: var(--primary-clr);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.crew-header {
    font-size: 2em;
}

.crew-people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 80px;
    
}

.crew-people-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.2em;
    width: 90%;
    line-height: 25px;
}

footer {
    display: flex;
    padding: 30px;
    background-color: var(--primary-clr);
    color: white;
    gap: 45px;
}

.hours {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour-by-day {
    display: flex;
    gap: 50px;
}

.days, .hours-op {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.connect {
    display: flex;
    flex-direction: column;
    
}

.connections img {
    width: 5%;
    margin: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 75px;
    gap: 50px;
}

.projects h2 {
    text-align: center;
    font-size: 2em;
    color: var(--primary-clr);
    margin-bottom: 20px;
    text-decoration: underline;
}

.project-showcase {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    padding: 25px;
    width: 100%;
}

.project {
    display: flex;
    gap: 100px;
    margin-bottom: 50px
}

.project h2 {
    text-align: left;
    text-decoration: underline;
}

.project-info {
    color: var(--primary-clr);
    width: 1000%;
    font-size: 1.2em;
}

.project img {
    border: 4px solid var(--primary-clr);
    border-radius: 10px;
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .header {
        display: block;
    }
    ul {
        margin-bottom: 10px;
    }
    .our-mission {
        display: block;
        text-align: center;
        width: 100%;
    }
    .info, .estimate-container {
        width: 100%;
        margin-bottom: 40px;
    }
    .about-us, .about-us-info {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: 20px;
    }
    .about-us-img {
        width: 100%;
    }
    .service-container {
        text-align: center;
    }
    .services-offered {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
    }
    .services-offered li {
        margin: 0 auto 10px;
    }
    .crew-container {
        text-align: center;
    }
    .crew-people {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .crew-people-container {
        border-bottom: 2px solid var(--primary-clr);
    }
    .border-push {
        margin-bottom: 50px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .connect, .connections {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .connections img {
        width: 25%;
    }
}